<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iniclass="navbar navbar-expand-lg bg-body-tertiarytial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-info-subtle">
    <div class="container-fluid">
          <a class="navbar-brand" href="#">とれナビ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">検索</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">オススメ</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <img src="/static/text_ryokou.png" height="150px" width="150px">
      <form action="/create" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="nickname" type="text" class="form-control" placeholder="ニックネームはどうしますか" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              初めてきた
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              何回目か
            </label>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="age" type="number" class="form-control" placeholder="何歳ですか？" aria-label="Username" aria-describedby="basic-addon1">
          </div>  
          <select name="from_area" class="form-select" aria-label="Default select example">
                <option selected>どこから来ましたか</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="South America">South America</option>
                <option value="North America">North America</option>
                <option value="Africa">Africa</option>
                <option value="Oceania">Oceania</option>
              </select>
        <h4></h4>
        <div class="form-floating mb-3">
            <input name="allergy" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">アレルギー</label>
          </div>
          <div class="form-floating">
            <input name="dislike" type="text" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">苦手なこと</label>
          </div>
        <h5></h5>
        <div class="input-group">
          <span class="input-group-text">興味があることは何ですか</span>
          <textarea name="interest" class="form-control" aria-label="興味があることは何ですか"></textarea>
        </div>
        <h6></h6>  
        <div class="input-group mb-3">
          <input name="from_date" type="date" class="form-control" placeholder="何日から" aria-label="Username">
          <span class="input-group-text">@</span>
          <input name="to_date" type="date" class="form-control" placeholder="何日まで" aria-label="Server">
        </div>
        <button type="submit" class="btn btn-primary">登録</button></h1>  
        <button type="button" class="btn btn-success">検索へ</button>
      </form>

</body>
</html>