<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <h4>

        <nav class="navbar navbar-expand-lg bg-info-subtle">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">ボラントリップ</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">オススメ</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      行き方
                    </a>
                    
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">歩き</a></li>
                      <div>
                        <img src="/static/download.png" height="100" width="100px">
                    </div>
                      <li><a class="dropdown-item" href="#">電車</a></li>
                      <div>
                        <img src="/static/電車-アイコン.png" height="100" width="100px">
                    </div> 
                      <li><a class="dropdown-item" href="#">車</a></li>
                      <div>
                        <img src="/static/istockphoto-1273534607-612x612.jpeg" height="60" width="60px">
                    </div>
                    <br><br>  
                      <li><a class="dropdown-item" href="#">飛行機</a></li>
                      <div>
                        <img src="/static/2059-600x600.jpeg" height="80" width="80px">
                    </div>  
                    </ul>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

        <a class="navbar-brand" href="#"></a></map></a>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
            <style>
                #map {
                    height: 700px;
                    width: 90%;
                    margin: 0 auto;
                }
            </style>
            <button type="button" class="btn btn-outline-info">経路</button>
            <div id="map"></div>

            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script>
                // 現在位置を取得する関数
                function getCurrentPosition() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(
                            function (position) {
                                console.log("Latitude: " + position.coords.latitude);
                                console.log("Longitude: " + position.coords.longitude);
                            },
                            function (error) {
                                console.log("Error: " + error.message);
                            }
                        );
                    } else {
                        console.log("Geolocation is not supported by this browser.");
                    }
                }
                // 関数を呼び出す
                getCurrentPosition();

                // 地図の初期表示
                var map = L.map('map').setView([39.70196447156899, 141.13575319162757], 13); // 盛岡駅の緯度経度
                // 地図タイルの設定
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
                // マーカーを追加
                var marker = L.marker([39.70196447156899, 141.13575319162757]).addTo(map)
                    .bindPopup('盛岡駅')
                    .openPopup();
                
                // マーカーを追加
                var marker = L.marker([{{destination.latitude}}, {{destination.longitude}}]).addTo(map)
                    .bindPopup("{{destination.name}}")
                    .openPopup();

            </script>

   
</body>

</html>